.sigmar-one-regular {
        font-family: "Sigmar One";
        font-weight: 400;
        font-style: normal;
        color: aliceblue;
        font-size: 300%;
      }
#title {
  float: left;
  position: relative;
  top: -2px;
}
.search-container {
        position: relative;
        padding: 5px;
        width: 400px;
        float: left;
        margin-left: 50px;
        margin-right: 50px;
        top: 55px;
      }
    
.search-container input {
        border: none;
        outline: none;
        padding: 5px;
        border-radius: 20px;
        width: 400px;
      }
    
.search-container button {
        float: left;
        background: FFFFFF;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        position: relative;
        top: -28px;
        left: 390px;
        width: 40px;
      }

.logo {
        float: left;
        width: 10%;
        height: 20%;
        position: relative;
        top: -13px;
        right: 30px;
      }
header {
    background-color: 85C6FF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
#button {
    position: relative;
    top: 50px;
    margin-left: 10;
    left: 180;
    width: 110px;
    height: 40px;
    border-radius: 30px;
    padding: 10px 30px;
    font-family: "Sigmar One", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 70%;
}
.log_in {
    background-color: FF3B7D;
    color: FFFFFF;    
}
.sign_in {
    background-color: FFFFFF;
    color: FF3B7D;
    margin-right: 10;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #D4EFFF;
  font-family: "Sigmar One", serif;
  font-size: 70%;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 48px);
  grid-template-rows: repeat(2, 48px);
  gap: 5px;
  
}
.gallery img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  margin-top: 10px;
}

.footer {
  display: flex;
  height: 100px;
  background-color: #85C6FF;
  color: white;
  text-align: center;
  padding: 15px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}