body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #D4EFFF;
  font-family: Arial, sans-serif;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 48px);
  grid-template-rows: repeat(2, 48px);
  gap: 10px;
}
.gallery img {
  width: 48px;
  height: 48px;
  object-fit: cover;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  background-color: #85C6FF;
  color: white;
  text-align: center;
  padding: 15px;
  width: 100%;
}

.contacts, .about-us {
  flex: 1;
  text-align: center;
}

.icons {
  display: flex;
  margin-top: 10px;
}

.icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}