* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Sigmar One", serif;
}

header {
    background-color: #85C6FF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-title-list {
    display: flex;
    align-items: center;
    gap: 0.01em;
}

.logo {
    width: 8rem;
    height: 8rem;
}

#title {
    font-size: 4rem;
    margin: 0 0.6em;
}

#title a {
    text-decoration: none;
    color: #FFFFFF;
}

.search-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 24em;
    margin: 0 1.2em;
}

.search-container input {
    border: none;
    outline: none;
    padding: 0.6em;
    border-radius: 1.2em;
    width: 24em;
}

.search-button, .filter-button, .cart-button, .log-out-button {
    background: #FFFFFF;
    border: none;
    border-radius: 0.6em;
    cursor: pointer;
    padding: 0.6em;
    margin: 0 0.6em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon, .filter-icon, .cart-icon, .logout-icon {
    height: 1.2em;
    width: 1.2em;
}

.button-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 1.2em;
    margin-right: 3em;
}

.button {
    width: 3em;
    height: 3em;
    border-radius: 0.6em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.cart-button {
    background-color: #FF3B7D;
}

.log-out-button {
    background-color: #FFFFFF;
}