* {
    box-sizing: border-box;
    margin: 0;
}

main {
    padding: 60px;
}

#register_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 300px;
    width: 600px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
}

#register_text {
    font-size: 40px;
    font-family: "Sigmar One", serif;
    color: deeppink;
}

.input_form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    margin-top: 15px;
}

#submit_button {
    margin: 20px auto;
    padding: 5px;
    background-color: deeppink;
    color: white;
    font-size: 1em;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid rgb(118, 118, 118);
}

#register_link {
    width: 200px;
    margin: 20px auto;
}

#signup_link {
    background-color: white;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    color: blue;
    font-size: 0.7em;
    padding: 3px;
}